@CHARSET "ISO-8859-1";

em {
	font-family: 'Arial';
}

.ui-widget  {
	font-size: 12px !important;
	
}

.tablefont{
	font-size:11px;
	}
	
.ui-wizard-step-title{
	font-size:15px;
	font-weight: bold;
}